* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    --gold: rgb(236,189,46);
    --dark-grey: rgba(29,29,29,1);
    --lighter-grey: rgba(81,81,81,1);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

.first {
    background: linear-gradient(var(--dark-grey), var(--lighter-grey));
    border-radius: 10px;
    color: white;
}

.header {
    display: inline-flexbox;
    margin-left: 4rem;
    padding-top: 5rem;
}

.header ul {
    padding-bottom: 0.5rem;
    list-style-position: inside;
    color: var(--gold);
}

.toggle {
    display: inline-flex;
    flex-direction:row;
    vertical-align: baseline;
    padding-bottom: 5%;
}

.toggle a {
    border: none;
    text-decoration: none;
    color: black;
    display: inline;
    background-color: var(--gold);
    border-radius: 34px;
    /* for the hover effect */
    transition: 1s;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem;
}

.toggle a:hover {
    filter:brightness(200%);
}

.toggle h2 {
    padding-right: 25vw;
    top: 0;
    font-size: 2rem;
    display: inline;
}
.logos {
    text-align: center;
    color: black;
    vertical-align: middle;
    background: transparent;
}

.logos a {
    text-decoration: none;
    color: black;
}

.card {
    background-color: transparent;
    color: white;
    display: inline-block;
}

.card i {
    color: var(--gold);
}

.logos a:hover {
    text-decoration: underline;
    text-decoration-color: var(--gold);
}

.logos a:hover .card {
   background-color: white;
   color: black;
}

.active {
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--gold);
} 

.description-container {
    height: 50vh;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.description {
    position: absolute;
    display: none;
}

.description p {
    line-height: 2rem;
    font-size: 1rem;
}

.description h2 {
    padding-bottom: 1.5rem;
    font-size: 2rem;
}