* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    --gold: rgb(236,189,46);
    --dark-grey: rgba(29,29,29,1);
    --lighter-grey: rgba(81,81,81,1);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

.first {
    background: linear-gradient(var(--dark-grey), var(--lighter-grey));
    border-radius: 10px;
    color: white;
    padding-bottom: 100px;
}

.header {
    display: inline-flexbox;
    margin-left: 4rem;
    padding-top: 5rem;
}

.header ul {
    padding-bottom: 0.5rem;
    list-style-position: inside;
    color: var(--gold);
    display: inline-flex;
}

.toggle {
    display: inline-flex;
    flex-direction:row;
    vertical-align: baseline;
    padding-bottom: 5%;
    left: 0;
}

.toggle a {
    border: none;
    text-decoration: none;
    color: black;
    display: inline;
    background-color: var(--gold);
    border-radius: 34px;
    /* for the hover effect */
    transition: 1s;
    font-size: 1rem;
    font-weight: bolder;
    padding: 1rem;
}

.toggle a:hover {
    filter:brightness(200%);
}

.toggle h2 {
    padding-right: 30vw;
    top: 0;
    font-size: 2rem;
    display: inline;
}
.logos {
    text-align: center;
    color: black;
    vertical-align: middle;
    background: transparent;
}

.logos a {
    text-decoration: none;
    color: black;
    padding-right: 1rem;
}

.card {
    background-color: transparent;
    color: white;
    display: inline-block;
    border-color: grey;
    border-radius: 20px;
}

.card i {
    color: var(--gold);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.card-title {
    font-weight: 500;
    padding-bottom: 1.5rem;
    line-height: 1.6;
}

.logos a:hover .card-body h5 {
    text-decoration: underline;
    text-decoration-color: var(--gold);
}

.logos a:hover .card {
   background-color: white;
   color: black;
}

/* making the logos black on hover */
.logos a:hover .card i {
    color: black;
}

/* background white, content black */
.active .card {
    background-color: white;
    color: black;
    text-decoration: none;
} 

/* making the active card logo black by default */
.active .card i {
    color: black;
}

/* 

DESCRIPTION SECTION

 */
.description {
    position: absolute;
    display: none;
}

.description p {
    line-height: 1.6;
    font-size: 1.5rem;
    width: 50%;
}

.description h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.photo-container {
    height: 100%;
    width: 50%;
}